.swiperNavBtns button {
background-color: inherit;
border: none;
    width: 60px;
    height: 50px;
  }
  
.prev {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.next {
  position: absolute;
  right: 0;
  bottom: 15%;
  background-color: blue;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .swiperNavBtns button:hover {
    cursor: pointer;
  }
  
  button:hover path{
    stroke: #0c0c0c;
  }
}