.wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 7.7rem;
    flex-wrap: wrap;
}

@media (max-width: 991.98px) {
    .wrapper img {
        width: 15%;
    }
}

@media (max-width: 575.98px) {
    .wrapper img {
        width: 30%;
    }
  
  }