.wrapper {
    display: flex;
    text-align: start;
    margin-bottom: 200px;
    margin-bottom: 12.5rem;
    justify-content: space-between;
}

.leftBlock {
    width: 100%;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(94, 98, 130, 1);
    margin-bottom: 15px;
}

.title {
    font-family: 'Volkhov', serif;
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 65px;
    line-height: 4rem;
    letter-spacing: 0em;
    color: rgba(20, 24, 62, 1);
    margin-bottom: 31px;
    /* width: 511px; */
    width: 50vw;
    max-width: 511px;
}

.list {
    /* max-width: 395px; */
    width: 29rem;
    /* width: 59%; */
    min-width: 230px;
    border-radius: 13px;
}

.item {
    display: flex;
    column-gap: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(94, 98, 130, 1);
    margin-bottom: 3rem;
}

.itemTitle {
    font-weight: 700;
}

.itemDescription {
    font-weight: 400;
}

.rightBlock {
    width: 485px;
    /* height: 459px; */
    position: relative;
}

.card {
    width: 370px;
    /* height: 400px; */
    padding: 20px 25px;
    padding: 1.25rem 1.56rem 1.93rem 1.56rem;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    background: rgba(255, 255, 255, 1);
    margin-top: 59px;
    margin-right: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.cardImg {
    margin-bottom: 26px;
    width: 100%;
}

.cardTitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    margin-bottom: 13px;
}

.cardDate {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: rgba(94, 98, 130, 1);
    margin-bottom: 21px;
}

.cardIcon {
    display: flex;
    width: 139px;
    column-gap: 15px;
    margin-bottom: 30px;
}

.cardIcon span{
    width: 36px;
    height: 36px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cardPeople {
    display: flex;
    justify-content: space-between;
}

.cardPeople div{
    display: flex;
    column-gap: 15px;
}

.blue {
    position: absolute;
    width: 354px;
    height: 367px;
    opacity: 0.05;
    top: -59px;
    z-index: -1;
    left: 60px;
    background: rgba(89, 177, 230, 1);
}

.notification {
    position: absolute;
    bottom: 125px;
    right: -10px;
    width: 263px;
    height: 129px;
    display: flex;
    column-gap: 12px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.notificationImg img{
    border-radius: 50px;
}

.ongoing {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.035em;
    text-align: left;
    color: rgba(132, 130, 154, 1);
    margin-bottom: 6px;
}

.trip {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: rgba(8, 8, 9, 1);
    margin-bottom: 14px;
}

.completed {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.055em;
}

.interest {
    color: #8A79DF
}

.heart:hover path{
    fill: rgb(179, 7, 7);

}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .rightBlock {
        width: 335px;
    }

    .card {
        width: 290px;
    }

    .notification {
        right: -30px;
        width: 213px;
        bottom: 150px;
    }
}

/* // Малые девайсы («ландшафтные», < 768px)  */
@media (max-width: 767.98px) {
    .blue {
        width: 90%;
        top: 0;
    }

    .notification {
        bottom: 120px;
        right: -14px;
        width: 213px;
    }

    /* .list {
        height: 448px;
    } */
    
}

@media (max-width: 575.98px) {
    .itemDescription {
        font-size: 14px;
    }

    .wrapper {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .card {
        margin-top: 0;
    }

    .list {
        /* height: 296px; */
        width: 100%;
}

.title {
    width: 100%;
}

.notification {
    bottom: 50px;
    right: -50px;
    width: 213px;
}


}
