.destinations {
    margin-bottom: 186px;
    position: relative;
    text-align: center;
}

.title {
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    margin-bottom: 60px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(94, 98, 130, 1);
}

.list {
    display: flex;
    /* column-gap: 45px; */
    column-gap: 3vw;
}

.item {
    position: relative;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 24px 24px;
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.img {
    object-fit: none;
    width: 315px;
    height:457px;
    object-position: 50% top;
    border-radius: 0 0 24px 24px;
}


.bottom {
    width: 315px;

    position: absolute;
    bottom: 0;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);

    text-align: start;
    padding: 27px 25px 42px 20px;
    padding: 1.9vw 1.8vw 2.9vw 1.4vw;
    color: rgba(94, 98, 130, 1);
    border-radius: 0 0 24px 24px;
    
}

.place, .price {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.description {
    margin-top: 19px;
}

.placePrice {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-right: 14px;
}

.days {
    margin-top: 18px;
}

.decore {
    position: absolute;
    right: 108px;
    bottom: 50px;
    z-index: -1;
}


/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    .img {
    width: 300px;
    height:457px;
    }
    .bottom {
        width: 300px;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .img {
    width: 230px;
    height:457px;
    }
    .bottom {
        width: 230px;
    }
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    /* .logo {
        margin-right: 100px;
    } */
}

@media (max-width: 575.98px) {
    /* .logo {
        margin-right: 45px;
    } */
}