.destinations {
    margin-bottom: 186px;
    margin-bottom: 11.6rem;
    position: relative;
    text-align: center;
}

.title {
    font-family: 'Volkhov', serif;
    font-size: 3.1rem;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0em;
    margin-bottom: 60px;
    margin-bottom: 3.7rem;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(94, 98, 130, 1);
}

.list {
    display: flex;
    column-gap: 3vw;
}

.item {
    position: relative;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 24px 24px;
    transition: 0.3s;
    cursor: pointer;
}


.imageWrapper {
    position: relative;
    overflow:hidden;
    width:315px;
    height:457px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 26px 26px;
}

.img {
    border-radius: 0 0 24px 24px;
    position: absolute;
    width: 473px;
    right: -25%;
    top: 0;
    object-fit:cover;
}


.bottom {
    width: 101%;
    position: absolute;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    text-align: start;
    padding: 8.5% 7.6% 13.3% 6.3%;
    color: rgba(94, 98, 130, 1);
    height: 29%;
    border-radius: 0 0 24px 24px;
    
}

.placePrice {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 2rem;
}

.icon {
    margin-right: 14px;
}

.days {
    position: absolute;
    bottom: 10%;
}

.decore {
    position: absolute;
    right: 108px;
    bottom: 50px;
    z-index: -1;
}

.item:nth-child(3)::after {
    content: '';
    width: 100px;
    height: 270px;
    position: absolute;
    right: -60px;
    bottom: 30px;
    background-image: url('./../../assets/img/Decore2.svg');
    background-repeat: no-repeat;
    z-index: -1;

}

@media screen and (min-width: 768px) {
    .item:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
    }
  }

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    .imageWrapper {
        width:300px;
        height:447px;
    }
    
    .img {
        position: absolute;
        width: 458px;
        right: -26%;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .imageWrapper {
        width:230px;
        height:382px;
    }
    
    .img {
        width: 388px;
        right: -28%;
    }

    .decore {
        position: absolute;
        right: -30px;
        bottom: 50px;
        z-index: -1;
    }
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .imageWrapper {
        width:170px;
        height:317px;
    }
    
    .img {
        width: 328px;
        right: -28%;
    }

    .placePrice {
        font-size: 14px;
    }

    .description {
        font-size: 12px;
    }

    .icon {
        width: 10%;
    }
}

@media (max-width: 575.98px) {
    .list .item:nth-child(3) {
        display: none;
    }

    .list {
        justify-content: center;
    }

    .img {
        right: -32%;
    }

    .imageWrapper {
        width:163px;
        height:247px;
    }

    .img {
        width: 250px;
        right: -28%;
    }

    .bottom {
        padding: 3%;
    }
}