.header {
    display: flex;
    justify-content: space-between;
    /* margin: 47px 0 18px 0; */
    padding: 47px 20px 18px 0;
    position: relative;
    right: 7px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 17px;
    color: rgba(33, 40, 50, 1);
}

.list {
    display: flex;
    column-gap: 60px;
    /* margin-right: 86px; */
    font-weight: 400;
    cursor: pointer;
}

.list li:hover{
   text-decoration: underline solid 3px #DF6951;
   text-underline-offset: 10px;
}

.account {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;

    background-color: inherit;
    cursor: pointer;
}

.signup {
    padding: 9px 22px;
    border: 1px solid rgba(33, 40, 50, 1);
    border-radius: 5px;
    /* margin-right: 42px; */
}

.signup:hover{
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    color: white;
 }

.login {
    border: none;
    /* margin-right: 52px; */
}

.login:hover{
    text-decoration: underline solid 3px #DF6951;
    text-underline-offset: 10px;
 }

.logo {
    margin-right: 20px;
}

.select {
    background-color: inherit;
    border: none;  
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    outline: none;
}

.select:hover {
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    color: white;
    border-radius: 20%;
}

option {
    color: black;
}


/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    /* .logo {
        margin-right: 170px;
    } */
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    /* .logo {
        margin-right: 130px;
    } */
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    /* .logo {
        margin-right: 100px;
    } */
}

@media (max-width: 575.98px) {
    /* .logo {
        margin-right: 45px;
    } */
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 70px;
}